@font-face {
    font-family: Avenir-book;
    src: url('../fonts/avnir_sv/AvenirLTStd-Book.otf');
}
@font-face {
    font-family: Avenir-medium;
    src: url('../fonts/avnir_sv/AvenirLTStd-Medium.otf');
}
@font-face {
    font-family: Avenir-roman;
    src: url('../fonts/avnir_sv/AvenirLTStd-Roman.otf');
}
@font-face {
    font-family: keep-calm;
    src: url('../fonts/keep_calm/KeepCalm-Medium.ttf');
}
/*-------------------- All pages ---------------------------*/



/*----------------------Navbar-----------------------------*/

/* .new-navbar {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-bottom: 30px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    background-color: #00364D;
    min-height: 8px;
}

.new-nav-area {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
    text-transform: uppercase;
    font-size: smaller;
    letter-spacing: 1px;
    font-weight: 500;
    padding-top: 1.25em;
}
.new-navbar a {
    text-decoration: none;
    color: white;

    transition: all ease-out 500ms;
} 
header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    
}
.new-nav-area li {
    display: inline-block;
    padding: 0 20px;
    padding-top: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
.new-nav-area a {
    color: #fff;
}
.new-nav-area a:hover {
    transition: .5s;
    color: #00a4d2;
    
}
.active-navbar {
    color: #00a4d2 !important;

}
.new-nav-area li a::after {
    content: '';
    position: absolute;
    display: block;
    height: 0.25em;
    width: 0%;
    background-color: #42C8F4;
    bottom: -1.6em;
    transition: all ease-in-out 200ms;

}
.new-nav-area li a:hover::after {
    width: 60%;
}
.new-navbar-apage {
    color:#00a4d2 !important;
}
.new-navbar-btn-area {
    padding: 0 30px;
    margin-top: -8px !important;
    cursor: pointer;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background: #00a4d2;
    font-size: 16px;
    font-weight: 400;
}

.burger {
    margin-top: -5px;
    display: none;
}
.burger div {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.7s ease;
}
@media screen and (max-width:1024px) {
    
}
@media screen and (max-width:800px) {
    .new-navbar-logo {
        margin-left: 30%;
    }
    body {
        overflow-x: hidden;
    }
    .new-nav-area, .nav-logout-btn {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 6vh;
        justify-content: space-around;
        background-color: #00364D;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index:1;
    }
    .new-nav-area li, .nav-logout-btn {
        opacity: 0;
    }
    .burger{
        display: block;
        margin-right: 7%;
        cursor: pointer;
    }
    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
        
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }
}
 */



  

 .nav-pills > li > a {
    border-radius: 0;
 }
 
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
 }
 
 #wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
 }
 
 #sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f3f4f6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }
 
 #wrapper.toggled #sidebar-wrapper {
    width: 250px;
 }
 
 #page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
 }
 
 .xyz {
    min-width: 360px;
 }
 
 #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
 }
 
 .fixed-brand {
    width: auto;
 }
 /* Sidebar Styles */
 
 .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
 }
 
 .sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
 }
 
 .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #04364d;
    margin-top: 15px;
    margin-left: 15px;
 }
 
 .sidebar-nav li a:hover {
    text-decoration: none;
    color: #04364d;
    background: rgba(255, 255, 255, 0.2);
    border-left: #04364d 2px solid;
    transition: 0.5s;
 }
 
 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
    text-decoration: none;
 }
 
 .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
 }
 
 .sidebar-nav > .sidebar-brand a {
    color: #999999;
 }
 
 .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
 }
 
 .no-margin {
    margin: 0;
 }
 
 .logout-btn{
     display: inline-block;
     padding: 0 20px;
     padding-top: 2px;
     letter-spacing: 1px;
     text-transform: uppercase;
     color: #fff;
     
 }
 #navbar{
     background-color:#00364d;
     padding-left: 2%;
     padding-right: 2%;
     padding-top: 10px;
     box-sizing: border-box;
     font-weight: 600;
     font-size: 16px;
     background-color: #00364D;
     min-height: 8px;
 }
.new-nav-area {
     list-style: none;
     margin-top: 3px;
 }
 #main-content {
    margin-left: 5px;
    margin-top: 20px;
}
#menu-toggle {
    display: none;
}
#burger-icon {
    color: white;
    margin-left: 20px;
    height: 20px;
    width: 50px;
    cursor: pointer;
    position: relative;
}
#burger-icon:hover {
    color: #00a4d2;
    transition: 0.3s;
}
.active-sidebar {
    margin-left: 20px;
}
.logout-btn:hover {
    color: #00a4d2;
    text-decoration: none;
    transition: 0.3s;
}

 @media (min-width: 768px) {
    #wrapper {
       padding-left: 250px;
    }
    .fixed-brand {
       width: 250px;
    }
    #wrapper.toggled {
       padding-left: 0;
    }
    #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
       width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
       width: 250px;
    }
    #page-content-wrapper {
       padding: 20px;
       position: relative;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
    }
    #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
       padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
       position: relative;
       margin-right: 0;
       margin-left: -200px;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
       width: auto;
    }
    #menu-toggle{
        display: none;
    }
    #burger-icon {
        display: none;
    }
    #main-content {
        margin: 20px;
    }
 }
 

/* ---------------- index (main home page) ---------------- */
.alert_delivery {
    color: #f74040;
}
.notice {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: #00364D;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 5px;
}
.login-logo {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputBox {
    position: relative;
}
.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s; 
}
.box .inputBox input:focus  ~ label,
.box .inputBox input:valid  ~ label {
    top: -18px;
    left: 0;
    color: #42C8F4;
    font-size: 12px;
}

.login-button {
    border-radius: 4px;
    background-color: #00a4d2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    width: 35%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.div-login-button {
    text-align: center;
}
.login-button:hover {
    background-color: #fff;
}

.login-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login-button:hover span {
    color:  #00a4d2;
    padding-right: 25px;
}

.login-button:hover span:after {
    color:  #00a4d2;
    opacity: 1;
    right: 0;
}

.forgot-pass {
    font-family: Avenir-book;
    font-style: italic;
    border: none;
    background-color: #00364D;
    color: grey;
}
.forgot-pass-div {
    text-align: center;
    margin-top: 7%;
    font-size: 12px;
}
.forgot-pass:hover{
    color: #fff;
}





